<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cys.dao.SysShopMapper" >
  <resultMap id="BaseResultMap" type="com.cys.model.SysShop" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_adress" property="shopAdress" jdbcType="VARCHAR" />
    <result column="shop_zb_y" property="shopZbY" jdbcType="REAL" />
    <result column="shop_zb_x" property="shopZbX" jdbcType="REAL" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="shop_img_url" property="shopImgUrl" jdbcType="VARCHAR" />
    <result column="yy_img" property="yyImg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="ower_user_id" property="owerUserId" jdbcType="INTEGER" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="shop_level" property="shopLevel" jdbcType="SMALLINT" />
    <result column="yl1" property="yl1" jdbcType="VARCHAR" />
    <result column="yl2" property="yl2" jdbcType="VARCHAR" />
    <result column="yl3" property="yl3" jdbcType="VARCHAR" />
    <result column="yl4" property="yl4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_name, shop_adress, shop_zb_y, shop_zb_x, service_type, status, shop_img_url, 
    yy_img, create_time, last_update_time, ower_user_id, desc, shop_level, yl1, yl2, 
    yl3, yl4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cys.model.SysShopExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_shop
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_shop
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cys.model.SysShopExample" >
    delete from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cys.model.SysShop" >
    insert into sys_shop (id, shop_name, shop_adress, 
      shop_zb_y, shop_zb_x, service_type, 
      status, shop_img_url, yy_img, 
      create_time, last_update_time, ower_user_id, 
      desc, shop_level, yl1, 
      yl2, yl3, yl4)
    values (#{id,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopAdress,jdbcType=VARCHAR}, 
      #{shopZbY,jdbcType=REAL}, #{shopZbX,jdbcType=REAL}, #{serviceType,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{shopImgUrl,jdbcType=VARCHAR}, #{yyImg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{owerUserId,jdbcType=INTEGER}, 
      #{desc,jdbcType=VARCHAR}, #{shopLevel,jdbcType=SMALLINT}, #{yl1,jdbcType=VARCHAR}, 
      #{yl2,jdbcType=VARCHAR}, #{yl3,jdbcType=VARCHAR}, #{yl4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cys.model.SysShop" >
    insert into sys_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopAdress != null" >
        shop_adress,
      </if>
      <if test="shopZbY != null" >
        shop_zb_y,
      </if>
      <if test="shopZbX != null" >
        shop_zb_x,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="shopImgUrl != null" >
        shop_img_url,
      </if>
      <if test="yyImg != null" >
        yy_img,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="owerUserId != null" >
        ower_user_id,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="shopLevel != null" >
        shop_level,
      </if>
      <if test="yl1 != null" >
        yl1,
      </if>
      <if test="yl2 != null" >
        yl2,
      </if>
      <if test="yl3 != null" >
        yl3,
      </if>
      <if test="yl4 != null" >
        yl4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopAdress != null" >
        #{shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="shopZbY != null" >
        #{shopZbY,jdbcType=REAL},
      </if>
      <if test="shopZbX != null" >
        #{shopZbX,jdbcType=REAL},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="shopImgUrl != null" >
        #{shopImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="yyImg != null" >
        #{yyImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owerUserId != null" >
        #{owerUserId,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="shopLevel != null" >
        #{shopLevel,jdbcType=SMALLINT},
      </if>
      <if test="yl1 != null" >
        #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null" >
        #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null" >
        #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null" >
        #{yl4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cys.model.SysShopExample" resultType="java.lang.Integer" >
    select count(*) from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_shop
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopAdress != null" >
        shop_adress = #{record.shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.shopZbY != null" >
        shop_zb_y = #{record.shopZbY,jdbcType=REAL},
      </if>
      <if test="record.shopZbX != null" >
        shop_zb_x = #{record.shopZbX,jdbcType=REAL},
      </if>
      <if test="record.serviceType != null" >
        service_type = #{record.serviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.shopImgUrl != null" >
        shop_img_url = #{record.shopImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.yyImg != null" >
        yy_img = #{record.yyImg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateTime != null" >
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.owerUserId != null" >
        ower_user_id = #{record.owerUserId,jdbcType=INTEGER},
      </if>
      <if test="record.desc != null" >
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.shopLevel != null" >
        shop_level = #{record.shopLevel,jdbcType=SMALLINT},
      </if>
      <if test="record.yl1 != null" >
        yl1 = #{record.yl1,jdbcType=VARCHAR},
      </if>
      <if test="record.yl2 != null" >
        yl2 = #{record.yl2,jdbcType=VARCHAR},
      </if>
      <if test="record.yl3 != null" >
        yl3 = #{record.yl3,jdbcType=VARCHAR},
      </if>
      <if test="record.yl4 != null" >
        yl4 = #{record.yl4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_shop
    set id = #{record.id,jdbcType=INTEGER},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      shop_adress = #{record.shopAdress,jdbcType=VARCHAR},
      shop_zb_y = #{record.shopZbY,jdbcType=REAL},
      shop_zb_x = #{record.shopZbX,jdbcType=REAL},
      service_type = #{record.serviceType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      shop_img_url = #{record.shopImgUrl,jdbcType=VARCHAR},
      yy_img = #{record.yyImg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      ower_user_id = #{record.owerUserId,jdbcType=INTEGER},
      desc = #{record.desc,jdbcType=VARCHAR},
      shop_level = #{record.shopLevel,jdbcType=SMALLINT},
      yl1 = #{record.yl1,jdbcType=VARCHAR},
      yl2 = #{record.yl2,jdbcType=VARCHAR},
      yl3 = #{record.yl3,jdbcType=VARCHAR},
      yl4 = #{record.yl4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cys.model.SysShop" >
    update sys_shop
    <set >
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopAdress != null" >
        shop_adress = #{shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="shopZbY != null" >
        shop_zb_y = #{shopZbY,jdbcType=REAL},
      </if>
      <if test="shopZbX != null" >
        shop_zb_x = #{shopZbX,jdbcType=REAL},
      </if>
      <if test="serviceType != null" >
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="shopImgUrl != null" >
        shop_img_url = #{shopImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="yyImg != null" >
        yy_img = #{yyImg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owerUserId != null" >
        ower_user_id = #{owerUserId,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="shopLevel != null" >
        shop_level = #{shopLevel,jdbcType=SMALLINT},
      </if>
      <if test="yl1 != null" >
        yl1 = #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null" >
        yl2 = #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null" >
        yl3 = #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null" >
        yl4 = #{yl4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cys.model.SysShop" >
    update sys_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_adress = #{shopAdress,jdbcType=VARCHAR},
      shop_zb_y = #{shopZbY,jdbcType=REAL},
      shop_zb_x = #{shopZbX,jdbcType=REAL},
      service_type = #{serviceType,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      shop_img_url = #{shopImgUrl,jdbcType=VARCHAR},
      yy_img = #{yyImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      ower_user_id = #{owerUserId,jdbcType=INTEGER},
      desc = #{desc,jdbcType=VARCHAR},
      shop_level = #{shopLevel,jdbcType=SMALLINT},
      yl1 = #{yl1,jdbcType=VARCHAR},
      yl2 = #{yl2,jdbcType=VARCHAR},
      yl3 = #{yl3,jdbcType=VARCHAR},
      yl4 = #{yl4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.cys.model.SysShopExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_shop
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>